*.class
*.iml
*.jar
.rebl
.cpcache
.clj-kondo/.cache
.lsp
.calva/output-window
.DS_Store
.hg/
.hgignore
.idea
.shadow-cljs
/.lein-*
/.nrepl-port
/checkouts
/classes
/target
docs/assets/js/book/cljs-runtime
docs/assets/js/book/manifest.edn
node_modules
notes
out
pom.xml
pom.xml.asc
workspaces/assets/js
docs-src/supplemental_ui/js
test/local_testing*.clj
