{:deps   {:aliases [:provided :dev]}
 :nrepl  {:port 59121}
 :builds {:book       {:target           :browser
                       :output-dir       "docs-src/supplemental_ui/js/book"
                       :asset-path       "/assets/js/book"
                       :compiler-options {:closure-defines {goog.LOCALE "en"}}
                       :devtools         {:preloads   [devtools.preload fulcro.inspect.preload]
                                          :after-load com.wsscode.pathom.book.app-types/update-apps
                                          :http-root  "docs/v2"
                                          :http-port  8082}
                       :modules          {:main {:entries [com.wsscode.pathom.book.main]}}}
          :workspaces {:target     :browser
                       :output-dir "workspaces/assets/js"
                       :asset-path "/js"
                       :devtools   {:preloads        [devtools.preload fulcro.inspect.preload]
                                    :http-root       "workspaces/assets"
                                    :http-port       8083
                                    :ignore-warnings true}
                       :modules    {:main {:entries [com.wsscode.pathom.workspaces.main]}}}

          :test {:target           :browser-test
                 :test-dir         "target/public/js/test"
                 :ns-regexp        "-test$"
                 :compiler-options {:static-fns      false
                                    :external-config {:guardrails {:throw? true :emit-spec? true}}}
                 :devtools         {:http-port          9158
                                    :http-resource-root "public"
                                    :http-root          "target/public/js/test"}}

          :ci         {:target           :karma
                       :compiler-options {:output-feature-set :es6}
                       :ns-regexp        "-test$"
                       :output-to        "target/ci.js"}}}
