.space {
  margin-bottom: 30px;
}

.com_wsscode_pathom_book_graphql_fulcro-network_demos_RequireTokenApp__container button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  outline: 0;
  transition: all 200ms;

  color: #292b2c;
  background-color: #fff;
  border: 1px solid #ccc;
}

.com_wsscode_pathom_book_graphql_fulcro-network_demos_RequireTokenApp__container button:hover {
  color: #292b2c;
  background-color: #e6e6e6;
  border: 1px solid #adadad;
}

div[x-app].loader {
  opacity: 0;
}

.doc .CodeMirror pre {
  background: inherit;
  color: #000;
  padding: 0 4px;
  white-space: pre;
}

.com_wsscode_pathom_book_interactive-parser_QueryEditorWrapper__container {
  margin-top: 20px;
}

div[x-app="index-explorer-attr-graph"] {
  margin-top: 20px;
}

div[x-app="index-explorer"] {
  margin-top: 20px;
}
